* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bgcolor: #f8f9fa;
  --primary-color: #6f5de7;
  --text-color: #828286;
  --main-text-color: #333333;
}
/* a {
  text-decoration: none;
  color: #fff;
} */

body {
  background: var(--bgcolor);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar li {
  margin-right: 1.3rem;
}

.navbar li a:hover {
  color: var(--primary-color);
  text-shadow: 0 0.2rem 0.3rem rgba(183, 171, 255, 0.5);
}
/* .navbar li a:hover ::after {
  content: "hello";
  display: block;
} */
.btn-style {
  border: 1px solid var(--primary-color);
  border-radius: 2rem;
  padding: 0.3rem 2rem;
  margin: 0 0.2rem;
  color: #fff;
  background-color: var(--primary-color);
}
.btn-style:hover {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background-color: transparent;
}

/* header content */
.row {
  display: flex;
  height: calc(100vh - 56px);
}

.header-left-side {
  /* border-right: 1px solid red; */
  /* margin-right: 1px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 4rem;
}
.header-left-side h1 {
  /* border: 1px solid black; */
  line-height: 4rem;
  margin-bottom: 1rem;
}
.header-left-side p {
  /* border: 1px solid black; */
  text-align: justify;
  /* padding: 0 2.5rem; */
  margin-bottom: 2rem;
  color: var(--text-color);
}
.getearly {
  /* text-align: left; */
  /* border: 1px solid black; */
  margin-bottom: -0.2rem;
  color: var(--text-color);
}
#emailinput {
  border: 1px solid black;
  border-radius: 5px;
}
.subscribe {
  background-color: white;
  color: white;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  cursor: pointer;
}
.subscribe:hover {
  /* transition: scale 0.4s ease-out; */
  scale: 1.03;
  /* border: none; */
}
.header-left-side h3 {
  color: var(--main-text-color);
}

/* .header-right-side {
  border: 1px solid red;
} */

.container {
  border: 1px solid black;
}

/* .howdoesitwork {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.worklist1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
}
.worklist1 img {
} */
